@charset "utf-8";
@font-face{
 src: url(../fonts/CuteFont-Regular.ttf);
 font-family: "CuteFont";
}
*{font-family: "CuteFont";}

#wrap{background-color: rgba(255, 255, 255, 0.87);}
#header{height: 130px; border-bottom: 3px solid rgba(156, 156, 156, 0.795); }
#content{}
#footer{height: 300px; background-color: rgb(255, 60, 0);}
.container{height: 100%; width: 1200px; margin: 0 auto; background-color: rgba(255, 255, 255, 0.3);}

/*헤더의 탑 제작부분*/
#top{height: 50px;}
#top .left{float: left; width: 50%; height: 100%;}
#top a {float: left; font-size: 15px; padding: 2px 10px; display: block; margin-top: 18px; border-right: 1px solid #000000;}
#top a.last{border-right: 0;}
#top .left form{margin-top: 20px; margin-left: 10px;}

#top .left .insert{float: left;}
#top .left .button {float: left; position: relative;}
#top .left .button input {width: 25px; height: 23.5px;}
#top .left .button i{position: absolute; top: 50%; left: 50%;transform: translate(-50%, -70%);pointer-events: none;}

#top .right{float: left; width: 50%; height: 100%;}
#top .right .rbox {float: right; margin-right: 40px;}
#top .right .rbox a.active{color: rgb(255, 0, 0); font-weight: bold;}
/*헤더의 탑 제작부분*/

/*헤더 바텀의 제작부분*/
#bottom{height: 80px;background-color: rgba(109, 109, 109, 0);
position: relative;}
#bottom ul{}
#bottom ul li{
   display: block; float: left; margin-top: 40px; padding: 5px 20px;}
#bottom ul li:first-child{padding-left: 0 ;}
#bottom ul li a{font-size: 20px; font-weight: bold;}
#bottom h3{position: absolute; top: 0;right: 30px;font-size: 40px;font-weight: bold; padding: 5px 10px;}

/*헤더 바텀의 제작부분*/











/*컨텐츠 비주얼 제작 부분*/
#visual{width: 1900px; border-top: 3px solid #333 ; margin: 0 auto; height: 600px; background: url(../img/main_visual.jpg) top; background-repeat: no-repeat; background-size: cover;  filter:grayscale(50%) ;}
/*컨텐츠 비주얼 제작 부분*/


/*컨텐츠 메인 게시판 제작 부분*/
#main{}

#main h3{font-size: 30px; margin-top: 30px; font-weight: bold;}
/*컨텐츠 메인 노티스1 게시판 제작*/
#main .notice1 {height: 200px; border-bottom: 3px dotted #000;}
#main .notice1 .left{width: 500px;height: 100%; float: left; }
/*컨텐츠 메인 노티스1 좌측 게시판 제작*/
#main .notice1 .left ul{border-top: 1px solid #000  ; margin-right: 30px ;}
#main .notice1 .left ul li{
   position: relative; margin-top: 10px;
}
#main .notice1 .left ul li.active{font-weight: bold;}
#main .notice1 .left ul li::before{width: 3px; height: 3px; background-color: #000 ;
    position: absolute; top: 8px; left: 5px; content: ''; border-radius: 50%;}
#main .notice1 .left ul li a {
   overflow: hidden; text-overflow: ellipsis; white-space: nowrap;
   width: 70%; display: block; margin-left: 12px;
}

/*한줄효과 주기*/

#main .notice1 .left ul li em {position: absolute ;right: 0 ; top: 0;}
/*컨텐츠 메인 노티스1 좌측 게시판 제작*/

#main .notice1 .col{width: 350px; float: left;height: 100%;}
#main .notice1 .col .top{height: 50%;}
#main .notice1 .col .bottom{height: 50%;}
#main .notice1 .center{}
#main .notice1 .center .top{border-bottom: 1px solid #000000; margin-right: 30px; position: relative;}
#main .notice1 .center .top h4{font-size: 30px; }
#main .notice1 .center .top span{font-size: 30px; margin-left: 110px;font-weight: bold;}
#main .notice1 .center .bottom .malalia{height: 30px; font-size: 20px; font-weight: bold;}
#main .notice1 .center .bottom .mosquito{float: left; height: 60px;}
#main .notice1 .center .bottom .mosquito img{height: 70px; width: 60px;}
#main .notice1 .center .bottom .link{line-height: 70px;color: rgba(0, 0, 0, 0.589); font-size: 20px
   ;  float: left; height: 70px; width: 285px;}
#main .notice1 .right{}
#main .notice1 .right .top{padding-bottom: 1px; border-bottom: 1px solid #000000; margin-right: 30px; position: relative;}
#main .notice1 .right .top h4{font-size: 30px; height: 20px;}





#main .notice1 .right .top ul{margin-right: 30px ; display: block; float: left;}
#main .notice1 .right .top ul li{padding-top: 5px; position: relative; font-size: 25px;}
#main .notice1 .right .top ul li:first-child{padding-left: 0 ;}
#main .notice1 .right .top ul li::after{font-weight: bold;}
#main .notice1 .right .top ul li a{font-size: 20px; font-weight: bold;}
/*컨텐츠 메인 노티스1 게시판 제작*/

/*컨텐츠 메인 노티스2 게시판 제작*/
#main .notice2 {height: 400px;}
#main .notice2 .left{width: 300px; height: 100%;float: left;background-color: slategray;}
#main .notice2 .center{width: 500px; height: 100%;float: left;background-color: rgb(0, 128, 255);}
#main .notice2 .right{width: 400px; height: 100%;float: left;background-color: rgb(0, 195, 255);}
/*컨텐츠 메인 노티스2 게시판 제작*/

/*컨텐츠 메인 노티스3 게시판 제작*/
#main .notice3 {height: 300px; background-color: rgb(0, 26, 255);}

/*컨텐츠 메인 노티스3 게시판 제작*/

/*컨텐츠 메인 게시판 제작 부분*/

